body {
    text-align: center;
    background-color: darkviolet;
}

div {
    margin-top: 15px;

}

.image-section {
    display: flex;
    justify-content: center;
}

.section-style {
    margin-right: 25px;
    margin-left: 25px;
    background-color: darkviolet;
}

img {
    width: 60%;
}
